
@media only screen and (max-width: 767px) {
  /* line 162, ../scss/custom/snippets/_profile.scss */
  #social1 {
    position: absolute;
    top: 8em !important;
    right: 0 !important;
    bottom: 0 !important;
    left: 4em !important;
  }

  /* line 163, ../scss/custom/snippets/_profile.scss */
  #social2 {
    position: absolute;
    top: 8em !important;
    right: 0 !important;
    bottom: 0 !important;
    left: 6em !important;
  }

  /* line 164, ../scss/custom/snippets/_profile.scss */
  #social3 {
    position: absolute;
    top: 8em !important;
    right: 0 !important;
    bottom: 0 !important;
    left: 8em !important;
  }

  /* line 165, ../scss/custom/snippets/_profile.scss */
  #social4 {
    position: absolute;
    top: 8em !important;
    right: 0 !important;
    bottom: 0 !important;
    left: 10em !important;
  }
}
@media only screen and (max-width: 767px) {
  /* line 170, ../scss/custom/snippets/_profile.scss */
  .profile-card img {
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    position: relative;
    top: 0em;
    right: 0;
    bottom: 0;
    left: 5em;
  }
  /* line 176, ../scss/custom/snippets/_profile.scss */
  .profile-card h4, .profile-card p {
    text-align: center;
  }
  /* line 180, ../scss/custom/snippets/_profile.scss */
  .profile-card .button-group .button {
    font-size: 14px;
  }
  /* line 182, ../scss/custom/snippets/_profile.scss */
  .profile-card .button-group .button span {
    font-size: 20px;
  }
}
/* line 189, ../scss/custom/snippets/_profile.scss */
.bump {
  margin-top: 50px;
  padding-right: 30px;
  padding-left: 30px;
}

/* line 195, ../scss/custom/snippets/_profile.scss */
.profile-card {
  padding-top: 15px;
  padding-bottom: 0px;
  overflow: hidden;
}
/* line 199, ../scss/custom/snippets/_profile.scss */
.profile-card h4 {
  font-family: "Proxima Nova","proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 400;
  color: #fff;
  font-size: 30px;
  line-height: 26px;
}
/* line 205, ../scss/custom/snippets/_profile.scss */
.profile-card h4 span {
  font-size: 20px;
  color: #8C91A7;
  display: block;
}
/* line 211, ../scss/custom/snippets/_profile.scss */
.profile-card img {
  border-radius: 50%;
  border: 4px solid #69708C;
}
/* line 215, ../scss/custom/snippets/_profile.scss */
.profile-card p {
  font-size: 16px;
  margin-bottom: 0;
  color: #8C91A7;
}
/* line 220, ../scss/custom/snippets/_profile.scss */
.profile-card i {
  font-size: 26px;
  vertical-align: middle;
  padding-right: 5px;
  color: #394165;
}

/* line 228, ../scss/custom/snippets/_profile.scss */
.social {
  position: relative;
  top: 0em;
  left: 0em;
  /* img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
  }*/
  /**/
}
/* line 238, ../scss/custom/snippets/_profile.scss */
.social .s-media {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
/* line 241, ../scss/custom/snippets/_profile.scss */
.social .s-media a {
  position: absolute;
  top: -6em;
  right: 0;
  bottom: 0;
  left: 10em;
  visibility: visible;
}
/* line 245, ../scss/custom/snippets/_profile.scss */
.social .s-media #social1 {
  -webkit-transition-delay: 0.5;
  -moz-transition: 0.5;
  -ms-transition-delay: 0.5;
  -o-transition-delay: 0.5;
  transition-delay: 0.5;
  visibility: hidden;
}
/* line 247, ../scss/custom/snippets/_profile.scss */
.social .s-media #social2 {
  -webkit-transition-delay: 0.5;
  -moz-transition: 0.5;
  -ms-transition-delay: 0.5;
  -o-transition-delay: 0.5;
  transition-delay: 0.5;
  visibility: hidden;
}
/* line 249, ../scss/custom/snippets/_profile.scss */
.social .s-media #social3 {
  -webkit-transition-delay: 0.5;
  -moz-transition: 0.5;
  -ms-transition-delay: 0.5;
  -o-transition-delay: 0.5;
  transition-delay: 0.5;
  visibility: hidden;
}
/* line 251, ../scss/custom/snippets/_profile.scss */
.social .s-media #social4 {
  -webkit-transition-delay: 0.5;
  -moz-transition: 0.5;
  -ms-transition-delay: 0.5;
  -o-transition-delay: 0.5;
  transition-delay: 0.5;
  visibility: hidden;
}
/* line 255, ../scss/custom/snippets/_profile.scss */
.social .s-media a {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
/* line 264, ../scss/custom/snippets/_profile.scss */
.social:hover #social1 {
  position: absolute;
  top: 0em;
  right: 0;
  bottom: 0;
  left: 10em;
  visibility: visible;
}
/* line 265, ../scss/custom/snippets/_profile.scss */
.social:hover #social2 {
  position: absolute;
  top: 2em;
  right: 0;
  bottom: 0;
  left: 10em;
  visibility: visible;
}
/* line 266, ../scss/custom/snippets/_profile.scss */
.social:hover #social3 {
  position: absolute;
  top: 4em;
  right: 0;
  bottom: 0;
  left: 10em;
  visibility: visible;
}
/* line 267, ../scss/custom/snippets/_profile.scss */
.social:hover #social4 {
  position: absolute;
  top: 6em;
  right: 0;
  bottom: 0;
  left: 10em;
  visibility: visible;
}
/* line 268, ../scss/custom/snippets/_profile.scss */
.social:hover i.lg {
  font-size: 40px;
}
/* line 271, ../scss/custom/snippets/_profile.scss */
.social:hover i.fi-social-github {
  color: black;
}
/* line 272, ../scss/custom/snippets/_profile.scss */
.social:hover i.fi-social-youtube {
  color: #de2826;
}
/* line 273, ../scss/custom/snippets/_profile.scss */
.social:hover i.fi-social-twitter {
  color: #55acee;
}
/* line 274, ../scss/custom/snippets/_profile.scss */
.social:hover i.fi-social-linkedin {
  color: #1b86bd;
}
