/* line 4, ../scss/social.scss */
.your-class-name {
  display: block;
  padding: 0;
  margin: 0 -0.625rem;
}
/* line 168, ../scss/foundation/components/_global.scss */
.your-class-name:before, .your-class-name:after {
  content: " ";
  display: table;
}
/* line 169, ../scss/foundation/components/_global.scss */
.your-class-name:after {
  clear: both;
}
/* line 50, ../scss/foundation/components/_block-grid.scss */
.your-class-name > li {
  display: block;
  height: auto;
  float: left;
  padding: 0 0.625rem 1.25rem;
}
/* line 61, ../scss/foundation/components/_block-grid.scss */
.your-class-name > li {
  width: 33.33333%;
  padding: 0 0.625rem 1.25rem;
  list-style: none;
}
/* line 68, ../scss/foundation/components/_block-grid.scss */
.your-class-name > li:nth-of-type(1n) {
  clear: none;
}
/* line 69, ../scss/foundation/components/_block-grid.scss */
.your-class-name > li:nth-of-type(3n+1) {
  clear: both;
}
